/*-----------------------------------------------------
	Font Import
-----------------------------------------------------*/

@font-face {
    font-family: Spartan-Bold;
    src: url(..//fonts/Spartan-Bold.ttf);
}

/*-----------------------------------------------------
	Variables definition
-----------------------------------------------------*/

$breakpoint: (
   'medium': '24rem',
);

// If the data-theme is set to default

html[data-theme='blue']{
    // Background colors  
    --main-background: hsl(222, 26%, 31%);
    --toggler-background: hsl(6, 63%, 50%);
    --toggler-track-background: hsl(223, 31%, 20%);
    --keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    --primary-key-background: hsl(30, 25%, 89%);
    --secondary-key-background: hsl(225, 21%, 49%);
    --tertiary-key-background: hsl(6, 63%, 50%);
    // Shadow colors
    --primary-key-shadow: hsl(28, 16%, 65%);
    --secondary-key-shadow: hsl(224, 28%, 35%);
    --tertiary-key-shadow: hsl(6, 70%, 34%);
    // Text colors
    --brand-color: hsl(0, 0%, 100%);
    --screen-text: hsl(0, 0%, 100%);
    --primary-text: hsl(221, 14%, 31%);
    --secondary-text: hsl(0, 0%, 100%);
    --tertiary-text: hsl(0, 0%, 100%);
}

// If the data-theme is set to white

html[data-theme='gray']{
    // Background colors    
    --main-background: hsl(0, 0%, 90%);
    --toggler-background: hsl(25, 98%, 40%);
    --toggler-track-background: hsl(0, 5%, 81%);
    --keypad-background: hsl(0, 5%, 81%);
    --screen-background: hsl(0, 0%, 93%);
    --primary-key-background: hsl(45, 7%, 89%);
    --secondary-key-background: hsl(185, 42%, 37%);
    --tertiary-key-background: hsl(25, 98%, 40%);
    // Shadow colors
    --primary-key-shadow: hsl(35, 11%, 61%);
    --secondary-key-shadow: hsl(185, 58%, 25%);
    --tertiary-key-shadow: hsl(25, 99%, 27%);
    // Text colors
    --brand-color: hsl(60, 9%, 19%);
    --screen-text: hsl(60, 9%, 19%);
    --primary-text: hsl(60, 9%, 19%);
    --secondary-text: hsl(0, 0%, 100%);
    --tertiary-text: hsl(0, 0%, 100%);
}

// If the data-theme is set to purple

html[data-theme='violet']{
    // Background colors    
    --main-background: hsl(268, 75%, 9%);
    --toggler-background: hsl(176, 100%, 44%);
    --toggler-track-background: hsl(268, 71%, 12%);
    --keypad-background: hsl(268, 71%, 12%);
    --screen-background: hsl(268, 71%, 12%);
    --primary-key-background: hsl(268, 47%, 21%);
    --secondary-key-background: hsl(281, 89%, 26%);
    --tertiary-key-background: hsl(176, 100%, 44%);
    // Shadow colors
    --primary-key-shadow: hsl(290, 70%, 36%);
    --secondary-key-shadow: hsl(285, 91%, 52%);
    --tertiary-key-shadow: hsl(177, 92%, 70%);
    // Text colors
    --brand-color: hsl(52, 100%, 62%);
    --screen-text: hsl(52, 100%, 62%);
    --primary-text: hsl(52, 100%, 62%);
    --secondary-text: hsl(0, 0%, 100%);
    --tertiary-text: hsl(198, 19%, 13%);
}

/*-----------------------------------------------------
	Media
-----------------------------------------------------*/

@mixin breakpoint($value) {
    @media (min-width: map-get($breakpoint, $value)){
        @content;
    }
}

/*-----------------------------------------------------
	Global styling
-----------------------------------------------------*/

*, *::after, *::before{
    // Padding and border are included in the element's total width and height
    box-sizing: border-box;
    // Resetting the padding of all elements to 0
    padding: 0;
    // Resetting the margin of all elements to 0
    margin: 0;
}

/*-----------------------------------------------------
	Visable only to screen readers
-----------------------------------------------------*/

.screen-readers-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*-----------------------------------------------------
	Main styling with the mobile first approach
-----------------------------------------------------*/

.page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    // Main content styling 

    &-main {
        width: 100%;
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        display: flex;
        flex-grow: 1;
        background-color: var(--main-background);
    }  

    .calc{
        width: 100%;
        height: 39.8rem;
        margin: auto;

        @include breakpoint(medium) {
            max-width: 33rem;
        }

        &-top {
            display: flex;
            align-items: center;    
        }

        &-top__brand {
            color: var(--brand-color);
            font-size: 1.95rem;
            font-family: Spartan-Bold;
            text-decoration: none;
        }

        &-top__theme-selector-wrapper {
            margin-left: auto;
            display: flex;
        }

        &-top__theme-label {
            padding-bottom: 0.2rem;
            margin-right: 1.3rem;
            margin-top: auto;
            color: var(--brand-color);
            font-size: 0.75rem;
            font-weight: 100;
            font-family: Spartan-Bold;
            letter-spacing: 0.1rem;
        }

        &-top__theme-selector {
            display: flex;
            flex-direction: column;
        }

        &-top__theme-numeration {
            padding: 0.25rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        &-top__theme-number {
            color: var(--brand-color);
            font-size: 0.7rem;
            font-weight: 100;
            font-family: Spartan-Bold;
            text-align: center;
        }

        &-top__slider-track {
            width: 4.5rem;
            height: 1.6rem;
            padding: 0.1rem;
            position: relative;
            border-radius: 0.9rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: var(--toggler-track-background);
        }

        &-top__slider {
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 0.3rem;
            left: 0.3rem;
            border-radius: 100%;
            background-color: var(--toggler-background);
            transition: all ease-in-out 0.5s;
        }

        &-top__theme {
            width: 1.4rem;
            height: 1.4rem;
            opacity: 0;
            cursor: pointer;
        }

        &-screen {
            width: 100%;
            padding: 1.6rem 1.6rem 0.6rem 1.6rem;
            margin-top: 2rem;
            border-radius: 0.7rem;
            text-align: right;
            background-color: var(--screen-background);
        }  

        &-screen__current-value {
            font-size: 2rem;
            font-weight: 100;
            font-family: Spartan-Bold;
            color: var(--screen-text);
        }

        &-screen__history {
            min-height: 1rem;
            font-size: 1rem;
            font-weight: 100;
            font-family: Spartan-Bold;
            color: var(--screen-text);
        }

        // Keypad styling

        &-keypad {
            width: 100%;
            padding: 1.5rem;
            margin-top: 1.5rem;
            display: grid;
            grid-gap: 0.85rem;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            border-radius: 0.7rem;
            background-color: var(--keypad-background);
        }

        // General keypad button styling

        &-keypad-button {
                margin-bottom: 0.3rem;
                border: none;
                border-radius: 0.3rem;
                font-weight: 100;
                font-family: Spartan-Bold;
                text-align: center;
                transition: all ease-in-out 0.3s;
        
                &:hover{
                  box-shadow: none;  
                  transform: translateY(4px);
                }
        }

        &-keypad-button--padding-primary {
            padding: 1rem 0rem 0.6rem 0rem;
        }

        &-keypad-button--padding-secondary {
            padding: 0.7rem 0rem 0.6rem 0rem;
        }

        &-keypad-button--normal-font {
            font-size: 1.7rem;           
        }

        &-keypad-button--small-font {
            font-size: 1rem;
        }    

        // Keypad buttons with primary color and shadow   

        &-keypad-button--primary-color {
                color: var(--primary-text);
                background-color: var(--primary-key-background);
                -webkit-box-shadow:0px 4px 0px 0px var(--primary-key-shadow);
                -moz-box-shadow: 0px 4px 0px 0px var(--primary-key-shadow);
                box-shadow: 0px 4px 0px 0px var(--primary-key-shadow);
        }

        // Keypad buttons with secondary color and shadow

        &-keypad-button--secondary-color {
                color: var(--secondary-text);
                background-color: var(--secondary-key-background);
                -webkit-box-shadow:0px 4px 0px 0px var(--secondary-key-shadow);
                -moz-box-shadow: 0px 4px 0px 0px var(--secondary-key-shadow);
                box-shadow: 0px 4px 0px 0px var(--secondary-key-shadow);
        }

        // Keypad buttons with tertiary color and shadow

        &-keypad-button--tertiary-color {
                color: var(--tertiary-text);
                background-color: var(--tertiary-key-background);
                -webkit-box-shadow:0px 4px 0px 0px var(--tertiary-key-shadow);
                -moz-box-shadow: 0px 4px 0px 0px var(--tertiary-key-shadow);
                box-shadow: 0px 4px 0px 0px var(--tertiary-key-shadow);
        }

        // Keypad buttons that span 2 columns

        &-keypad-button--large {
            grid-column: span 2
        }
    }

    // Footer styling 

    &-footer {
        width: 100%;
        padding: 1rem 15%;
        background-color: var(--screen-background);

        // Footer text styling

        &__text {
            color: var(--screen-text);
            font-size: 0.75rem;
            font-family: Spartan-Bold;
            letter-spacing: 0.05rem;
            line-height: 1.3rem;
            text-align: center;
        }

        // General footer link styling

        &__link {
            color: var(--secondary-key-background);
            font-size: 0.75rem;
            font-family: Spartan-Bold;
            letter-spacing: 0.05rem;
        }

        // Don't show the underline initially

        &__link--underline {
            text-decoration: none;

            // On hover show the underline
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Theme transition

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
    transition: all 1000ms !important;
    transition-delay: 0 !important;
}
