/*-----------------------------------------------------
	Font Import
-----------------------------------------------------*/

@font-face {
    font-family: Spartan-Bold;
    src: url(..//fonts/Spartan-Bold.ttf);
}

/*-----------------------------------------------------
	Variables definition
-----------------------------------------------------*/

// If the data-theme is set to default

html[data-theme='default']{
    // Background colors  
    --main-background: hsl(222, 26%, 31%);
    --toggler-background: hsl(6, 63%, 50%);
    --toggler-track-background: hsl(223, 31%, 20%);
    --keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    --primary-key-background: hsl(30, 25%, 89%);
    --secondary-key-background: hsl(225, 21%, 49%);
    --tertiary-key-background: hsl(6, 63%, 50%);
    // Shadow colors
    --primary-key-shadow: hsl(28, 16%, 65%);
    --secondary-key-shadow: hsl(224, 28%, 35%);
    --tertiary-key-shadow: hsl(6, 70%, 34%);
    // Text colors
    --brand-color: hsl(0, 0%, 100%);
    --screen-text: hsl(0, 0%, 100%);
    --primary-text: hsl(221, 14%, 31%);
    --secondary-text: hsl(0, 0%, 100%);
    --tertiary-text: hsl(0, 0%, 100%);
}

// If the data-theme is set to white

html[data-theme='white']{
    // Background colors    
    --main-background: hsl(0, 0%, 90%);
    --toggler-background: hsl(25, 98%, 40%);
    --toggler-track-background: hsl(0, 5%, 81%);
    --keypad-background: hsl(0, 5%, 81%);
    --screen-background: hsl(0, 0%, 93%);
    --primary-key-background: hsl(45, 7%, 89%);
    --secondary-key-background: hsl(185, 42%, 37%);
    --tertiary-key-background: hsl(25, 98%, 40%);
    // Shadow colors
    --primary-key-shadow: hsl(35, 11%, 61%);
    --secondary-key-shadow: hsl(185, 58%, 25%);
    --tertiary-key-shadow: hsl(25, 99%, 27%);
    // Text colors
    --brand-color: hsl(60, 9%, 19%);
    --screen-text: hsl(60, 9%, 19%);
    --primary-text: hsl(60, 9%, 19%);
    --secondary-text: hsl(0, 0%, 100%);
    --tertiary-text: hsl(0, 0%, 100%);
}

// If the data-theme is set to purple

html[data-theme='purple']{
    // Background colors    
    --main-background: hsl(268, 75%, 9%);
    --toggler-background: hsl(176, 100%, 44%);
    --toggler-track-background: hsl(268, 71%, 12%);
    --keypad-background: hsl(268, 71%, 12%);
    --screen-background: hsl(268, 71%, 12%);
    --primary-key-background: hsl(268, 47%, 21%);
    --secondary-key-background: hsl(281, 89%, 26%);
    --tertiary-key-background: hsl(176, 100%, 44%);
    // Shadow colors
    --primary-key-shadow: hsl(290, 70%, 36%);
    --secondary-key-shadow: hsl(285, 91%, 52%);
    --tertiary-key-shadow: hsl(177, 92%, 70%);
    // Text colors
    --brand-color: hsl(52, 100%, 62%);
    --screen-text: hsl(52, 100%, 62%);
    --primary-text: hsl(52, 100%, 62%);
    --secondary-text: hsl(0, 0%, 100%);
    --tertiary-text: hsl(198, 19%, 13%);
}

/*-----------------------------------------------------
	Global styling
-----------------------------------------------------*/

*, *::after, *::before{
    // Padding and border are included in the element's total width and height
    box-sizing: border-box;
    // Resetting the padding of all elements to 0
    padding: 0;
    // Resetting the margin of all elements to 0
    margin: 0;
}

/*-----------------------------------------------------
	Visable only to screen readers
-----------------------------------------------------*/

.screen-readers-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*-----------------------------------------------------
	Main styling with the mobile first approach
-----------------------------------------------------*/

.page {
    width: 100vw;
    min-height: 100vh;

    // Main content styling 

    &-main {
        width: 100%;
        padding: 2.5rem 1.5rem 1.5rem 1.5rem;
        display: flex;
        flex-grow: 1;
        background-color: var(--main-background);
    }  

    .calc{
        width: 100%;
        //max-width: 33rem;
        height: 39.8rem;
        margin: auto;

        &-top {
            display: flex;
            align-items: center;    
        }

        &-top__brand {
            color: var(--brand-color);
            font-size: 1.9rem;
            font-family: Spartan-Bold;
            text-decoration: none;
        }

        &-top__theme-selector {
            margin-left: auto;
            display: flex;

        }

        .calc-theme-label{
            padding-top: 0.3rem;
            color: var(--brand-color);
            font-size: 0.7rem;
            font-family: Spartan-Bold;
            letter-spacing: 0.1rem;
        }

                .theme-track{
                    width: 4.1rem;
                    height: 1.5rem;
                    padding: 0.25rem;
                    margin-left: 1rem;
                    position: relative;
                    border-radius: 0.9rem;
                    display: inline-block;
                    background-color: var(--toggler-track-background);

        &-top__slider {
                        width: 1rem;
                        height: 1rem;
                        position: absolute;
                        border-radius: 100%;
                        background-color: var(--toggler-background);
                        transition: all ease-in-out 0.5s;
        }

                    .hidden-inputs-wrapper{
                        width: 100%;
                        position: absolute;
                        bottom: 0.3rem;
                        display: flex;
                        .hidden-inputs{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            input[type=radio]{
                                width: 1rem;
                                height: 1rem;
                                opacity: 0;
                            }
                            input[type=radio]:hover{
                                cursor: pointer;
                            }
                            label{
                                margin-bottom: 0.5rem;
                                font-size: 0.7rem;
                            }
                        }
                        .middle-input{
                            margin: 0 0.3rem;
                        }
                    }
                }
        .calc-screen{
            width: 100%;
            padding: 1.5rem;
            margin-top: 1.3rem;
            border-radius: 0.7rem;
            text-align: right;
            background-color: var(--screen-background);
            .calc-screen-text{
                font-size: 2.1rem;
                font-weight: 700;
                font-family: Spartan-Bold;
                color: var(--screen-text);
            }
        }
        .calc-keypad{
            width: 100%;
            padding: 1.5rem;
            margin-top: 1rem;
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            border-radius: 0.7rem;
            background-color: var(--keypad-background);
            .calc-keypad-button{
                padding: 1.1rem 0rem 0.7rem 0rem;
                margin-bottom: 0.3rem;
                border: none;
                border-radius: 0.3rem;
                font-size: 1.7rem;
                font-weight: 700;
                font-family: Spartan-Bold;
                text-align: center;
                transition: all ease-in-out 0.3s;
                &:hover{
                  box-shadow: none;  
                  transform: translateY(4px);
                }
            }
            .btn-primary{
                color: var(--primary-text);
                background-color: var(--primary-key-background);
                -webkit-box-shadow:0px 4px 0px 0px var(--primary-key-shadow);
                -moz-box-shadow: 0px 4px 0px 0px var(--primary-key-shadow);
                box-shadow: 0px 4px 0px 0px var(--primary-key-shadow);
            }
            .btn-secondary{
                padding: 1.3rem 0rem 0.5rem 0rem;
                font-size: 1.3rem;
                font-weight: 100;
                color: var(--secondary-text);
                background-color: var(--secondary-key-background);
                -webkit-box-shadow:0px 4px 0px 0px var(--secondary-key-shadow);
                -moz-box-shadow: 0px 4px 0px 0px var(--secondary-key-shadow);
                box-shadow: 0px 4px 0px 0px var(--secondary-key-shadow);
            }
            .btn-tertiary{
                padding: 1.3rem 0rem 0.6rem 0rem;
                font-size: 1.3rem;
                font-weight: 100;
                color: var(--tertiary-text);
                background-color: var(--tertiary-key-background);
                -webkit-box-shadow:0px 4px 0px 0px var(--tertiary-key-shadow);
                -moz-box-shadow: 0px 4px 0px 0px var(--tertiary-key-shadow);
                box-shadow: 0px 4px 0px 0px var(--tertiary-key-shadow);
            }
            .btn-reset{
                grid-column-start: 1;
                grid-column-end: 3;
            }
            .btn-equal{
                grid-column-start: 3;
                grid-column-end: 5;
            }
        }
    }

    // Footer styling 

    &-footer {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        background-color: var(--screen-background);

        &__text {
            font-size: 0.75rem;
            font-family: Spartan-Bold;
            letter-spacing: 0.1rem;
            text-align: center;
            color: var(--screen-text);
        }

        &__link {
            font-size: 0.85rem;
            color: var(--secondary-key-background);
        }
        &__link--decoration {
            text-decoration: none;
        }

        &__link--decoration:hover {
            text-decoration: underline;
        }
    }
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
    transition: all 1000ms !important;
    transition-delay: 0 !important;
}