/*-----------------------------------------------------
	Font Import
-----------------------------------------------------*/

@font-face {
    font-family: Spartan;
    src: url(..//fonts/Spartan-Bold.ttf);
}

/*-----------------------------------------------------
	Variables definition
-----------------------------------------------------*/

$breakpoint: (
   'medium': '24rem',
);

// If the data-theme is set to blue

html[data-theme='blue']{
    // Background colors  
    --main-background: hsl(222, 26%, 31%);
    --slider-background: hsl(6, 63%, 50%);
    --slider-track-background: hsl(223, 31%, 20%);
    --keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    --primary-button-background: hsl(30, 25%, 89%);
    --secondary-button-background: hsl(225, 21%, 49%);
    --tertiary-button-background: hsl(6, 63%, 50%);
    --footer-background: hsl(223, 31%, 20%);
    // Shadow colors
    --primary-button-shadow: hsl(28, 16%, 65%);
    --secondary-button-shadow: hsl(224, 28%, 35%);
    --tertiary-button-shadow: hsl(6, 70%, 34%);
    // Text colors
    --brand-text: hsl(0, 0%, 100%);
    --screen-text: hsl(0, 0%, 100%);
    --history-text: hsl(0, 0%, 100%);
    --theme-selector-text: hsl(0, 0%, 100%);
    --primary-button-text: hsl(221, 14%, 31%);
    --secondary-button-text: hsl(0, 0%, 100%);
    --tertiary-button-text: hsl(0, 0%, 100%);
    --footer-text: hsl(0, 0%, 100%);
    --footer-link-text: hsl(225, 21%, 49%);
}

// If the data-theme is set to gray

html[data-theme='gray']{
    // Background colors    
    --main-background: hsl(0, 0%, 90%);
    --slider-background: hsl(25, 98%, 40%);
    --slider-track-background: hsl(0, 5%, 81%);
    --keypad-background: hsl(0, 5%, 81%);
    --screen-background: hsl(0, 0%, 93%);
    --primary-button-background: hsl(45, 7%, 89%);
    --secondary-button-background: hsl(185, 42%, 37%);
    --tertiary-button-background: hsl(25, 98%, 40%);
    --footer-background: hsl(0, 5%, 81%);
    // Shadow colors
    --primary-button-shadow: hsl(35, 11%, 61%);
    --secondary-button-shadow: hsl(185, 58%, 25%);
    --tertiary-button-shadow: hsl(25, 99%, 27%);
    // Text colors
    --brand-text: hsl(60, 9%, 19%);
    --screen-text: hsl(60, 9%, 19%);
    --history-text: hsl(60, 9%, 19%);
    --theme-selector-text: hsl(60, 9%, 19%);
    --primary-button-text: hsl(60, 9%, 19%);
    --secondary-button-text: hsl(0, 0%, 100%);
    --tertiary-button-text: hsl(0, 0%, 100%);
    --footer-text: hsl(60, 9%, 19%);
    --footer-link-text: hsl(185, 42%, 37%);
}

// If the data-theme is set to violet

html[data-theme='violet']{
    // Background colors    
    --main-background: hsl(268, 75%, 9%);
    --slider-background: hsl(176, 100%, 44%);
    --slider-track-background: hsl(268, 71%, 12%);
    --keypad-background: hsl(268, 71%, 12%);
    --screen-background: hsl(268, 71%, 12%);
    --primary-button-background: hsl(268, 47%, 21%);
    --secondary-button-background: hsl(281, 89%, 26%);
    --tertiary-button-background: hsl(176, 100%, 44%);
    --footer-background: hsl(268, 71%, 12%);
    // Shadow colors
    --primary-button-shadow: hsl(290, 70%, 36%);
    --secondary-button-shadow: hsl(285, 91%, 52%);
    --tertiary-button-shadow: hsl(177, 92%, 70%);
    // Text colors
    --brand-text: hsl(52, 100%, 62%);
    --screen-text: hsl(52, 100%, 62%);
    --history-text: hsl(52, 100%, 62%);
    --theme-selector-text: hsl(52, 100%, 62%);
    --primary-button-text: hsl(52, 100%, 62%);
    --secondary-button-text: hsl(0, 0%, 100%);
    --tertiary-button-text: hsl(198, 19%, 13%);
    --footer-text: hsl(52, 100%, 62%);
    --footer-link-text: hsl(281, 89%, 26%);
}

/*-----------------------------------------------------
	Media query
-----------------------------------------------------*/

@mixin breakpoint($value) {
    @media (min-width: map-get($breakpoint, $value)){
        @content;
    }
}

/*-----------------------------------------------------
	Global styling
-----------------------------------------------------*/

*, *::after, *::before{
    // Padding and border are included in the element's total width and height
    box-sizing: border-box;
    // Resetting the padding of all elements to 0
    padding: 0;
    // Resetting the margin of all elements to 0
    margin: 0;
    font-family: Spartan, sans-serif;
    font-weight: 700;
}

/*-----------------------------------------------------
	Visable only to screen readers
-----------------------------------------------------*/

.screen-readers-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*-----------------------------------------------------
	Component styling with mobile first approach
-----------------------------------------------------*/

.page {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    // Main content wrapper styling 

    &__main {
        width: 100%;
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
        display: flex;
        flex-grow: 1;
        background-color: var(--main-background);
    }  

    // Calc component styling

    .calc{
        width: 100%;
        height: 39.8rem;
        margin: auto;

        // If the screen width is 24rem or above apply the following styling

        @include breakpoint(medium) {
            max-width: 30rem;
        }

        // Calc top styling

        &__header {
            display: flex;
            align-items: center;    
        }

        // Logo section on the top of calc app

        &-top__logo {
            color: var(--brand-text);
            font-size: 1.95rem;
            font-family: Spartan-Bold;
            text-decoration: none;
        }

        &-top__theme-selector-wrapper {
            margin-left: auto;
            display: flex;
        }

        &-top__theme-label {
            padding-bottom: 0.2rem;
            margin-right: 1.3rem;
            margin-top: auto;
            color: var(--theme-selector-text);
            font-size: 0.75rem;
            font-weight: 100;
            font-family: Spartan-Bold;
            letter-spacing: 0.1rem;
        }

        &-top__theme-selector {
            display: flex;
            flex-direction: column;
        }

        // Container that contains theme numerations

        &-top__theme-numeration {
            padding: 0.25rem 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        // The styling of numbers above the selectable theme

        &-top__theme-number {
            color: var(--theme-selector-text);
            font-size: 0.7rem;
            font-weight: 100;
            font-family: Spartan-Bold;
            text-align: center;
        }

        // Slider track styling

        &-top__slider-track {
            width: 4.5rem;
            height: 1.6rem;
            padding: 0.1rem;
            position: relative;
            border-radius: 0.9rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background-color: var(--slider-track-background);
        }

        // Rounded slider styling

        &-top__slider {
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 0.3rem;
            left: 0.3rem;
            border-radius: 100%;
            background-color: var(--slider-background);
            transition: all ease-in-out 0.3s;
        }

        // The selectable theme

        &-top__theme {
            width: 1.4rem;
            height: 1.4rem;
            opacity: 0;
            cursor: pointer;
        }

        // Calc screen styling

        &__display {
            width: 100%;
            padding: 1.6rem 1.6rem 0.6rem 1.6rem;
            margin-top: 2rem;
            border-radius: 0.7rem;
            text-align: right;
            background-color: var(--screen-background);
        }  

        // Currently displayed value

        &__current-value {
            font-size: 2rem;
            font-weight: 100;
            font-family: Spartan-Bold;
            color: var(--screen-text);
        }

        // Calculation history

        &__previous-values {
            height: 1rem;
            font-size: 0.6rem;
            font-weight: 100;
            font-family: Spartan-Bold;
            color: var(--history-text);
        }

        // Calc keypad styling

        &__keypad {
            width: 100%;
            padding: 1.5rem;
            margin-top: 1.5rem;
            display: grid;
            grid-gap: 0.85rem;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 1fr);
            border-radius: 0.7rem;
            background-color: var(--keypad-background);
        }

        // General keypad button styling

        &__keypad-button {
                margin-bottom: 0.3rem;
                border: none;
                border-radius: 0.3rem;
                font-weight: 100;
                font-family: Spartan-Bold;
                text-align: center;
                transition: all ease-in-out 0.3s;
        
                &:hover{
                  box-shadow: none;  
                  transform: translateY(4px);
                }
        }

        // Buttons with normal font size

        &__keypad-button--padding-primary {
            padding: 1rem 0rem 0.6rem 0rem;
        }

        // Buttons with normal font size

        &__keypad-button--padding-secondary {
            padding: 0.7rem 0rem 0.6rem 0rem;
        }

        // Buttons with normal font size

        &__keypad-button--text-normal {
            font-size: 1.7rem;           
        }

        // Buttons with smaller font size

        &__keypad-button--text-small {
            font-size: 1rem;
        }    

        // Keypad buttons with primary color, background and shadow   

        &__keypad-button--primary {
                color: var(--primary-button-text);
                background-color: var(--primary-button-background);
                -webkit-box-shadow:0px 4px 0px 0px var(--primary-button-shadow);
                -moz-box-shadow: 0px 4px 0px 0px var(--primary-button-shadow);
                box-shadow: 0px 4px 0px 0px var(--primary-button-shadow);
        }

        // Keypad buttons with secondary color, background and shadow

        &__keypad-button--secondary {
                color: var(--secondary-button-text);
                background-color: var(--secondary-button-background);
                -webkit-box-shadow:0px 4px 0px 0px var(--secondary-button-shadow);
                -moz-box-shadow: 0px 4px 0px 0px var(--secondary-button-shadow);
                box-shadow: 0px 4px 0px 0px var(--secondary-button-shadow);
        }

        // Keypad buttons with tertiary color, background and shadow

        &__keypad-button--tertiary {
                color: var(--tertiary-button-text);
                background-color: var(--tertiary-button-background);
                -webkit-box-shadow:0px 4px 0px 0px var(--tertiary-button-shadow);
                -moz-box-shadow: 0px 4px 0px 0px var(--tertiary-button-shadow);
                box-shadow: 0px 4px 0px 0px var(--tertiary-button-shadow);
        }

        // Keypad buttons that span 2 columns

        &__keypad-button--large {
            grid-column: span 2
        }
    }

    // Footer styling 

    &__footer {
        width: 100%;
        padding: 1rem 15%;
        background-color: var(--footer-background);

        // Footer text styling

        &-text {
            color: var(--footer-text);
            font-size: 0.75rem;
            font-family: Spartan-Bold;
            letter-spacing: 0.05rem;
            line-height: 1.3rem;
            text-align: center;
        }

        // General footer link styling

        &-link {
            color: var(--footer-link-text);
            font-size: 0.75rem;
            font-family: Spartan-Bold;
            letter-spacing: 0.05rem;
        }

        // Don't show the underline initially

        &-link--underline {
            text-decoration: none;

            // On hover show the underline
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Theme transition

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
    transition: all 0.3s !important;
    transition-delay: 0 !important;
}
